{% extends 'StudyBundle::layout.html.twig' %}

{% block content %}
    <div class="news">
        <h1 class="news-title">Новости</h1>
        <div class="news-item neutral"><a href="#">
                <h1 class="news-item_title">Вторая смена</h1>
                <p class="news-item_text">По неподтвержденным данным, учебные занятия в
                    некоторые дни возможны во вторую смену. Стоит отметить, что это еще
                    не подтвержденная деканатом информация, но стоит быть готовым ко всему.</p>
            </a></div>
        <div class="news-item good"><a href="#">
                <h1 class="news-item_title">Новый одногруппник</h1>
                <p class="news-item_text">Теперь официально: с начала нового учебного года в нашем коллективе новый одногруппник.
                    Встретим его хлебом и солью!</p>
            </a></div>
        <div class="news-item bad"><a href="#">
                <h1 class="news-item_title">Экзамен!</h1>
                <p class="news-item_text">Напоминаю, что у тебя, Гладкого Андрея и Булойчика Артура «висит» сдача экзамена по
                    дисциплине «Основы алгоритмизации и программирования». Советую вам обратиться к
                    преподавателю и в деканат для уточнения всех возможных вопросов. Не затягивайте.</p>
            </a></div>
        <div class="news-item notification"><a href="#">
                <h1 class="news-item_title">STUDY University: «Добро пожаловать!»</h1>
                <p class="news-item_text">Ваша группа была успешно подключена к системе взаимодействия студентов «STUDY University».
                    В случае возникновения каких-либо проблем можно воспользоваться системой технической
                    поддержки пользователей. Добро пожаловать!</p>
            </a></div>
    </div>
{% endblock %}

{% block user %}
    <div class="main">
        <div class="user-information">
            <div class="user-information_photo"></div>
            <button class="user-information_settings">Мой профиль</button>
            <h1 class="user-information_name">{{user.firstname}} {{user.lastname }}</h1>
            <h2 class="user-information_university">Белорусский государственный университет
                информатики и радиоэлектроники</h2>
            <h2 class="user-information_faculty">{{user.faculty}}</h2>
            <h2 class="user-information_group">Группа №{{user.class}}</h2>
            <h2 class="user-information_GPA">Средний балл: <span>{{user.average}}</span></h2>
            <h2 class="user-information_attendance">Посещаемость: <span>{{user.attendance}}%</span></h2>
            <form class="how-are-you" method="POST">
                {% if user.status == "" %}
                    <textarea class="user-information_how-are-you" name="status" placeholder="Как Ваши дела?"></textarea>
                {% else %}
                    <textarea class="user-information_how-are-you" name="status" placeholder="{{user.status}}"></textarea>
                {% endif %}

                <button type="submit" class="user-information_how-are-you_send">Отправить</button>
            </form>
        </div>
    {% endblock %}